<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>TecFood Web</title>
    <style>      
    
    </style>
  </head>
  <body class="grid-container">
        
    <header class="header"><h1><img src="ico.png" width="35" height="35"/> TECFOOD WEB</h1></header>    
    <nav class="navbar">
        <a href="Compra" class="estilogestion">Compra Productos</a>
        <a href="Carrito" class="estilogestion">Carrito Compra</a>
      
      <br>
    </nav>
  
    <aside class="sidebar">
            <h2>Datos usuario</h2>
            <br>
            <strong> Nombre:<br> Josue <br>
                <br> Correo:<br> @estudiantec <br>
                <br>                      
                <a href="logout" class="a-logout">Logout</a>
                <br> <a  href="cambiarcontra" class="editar-contra">Cambiar contraseña</a>
                <br>
                <br>
                <br>
                <br>
                <br>
                
    </aside>    
    <script type = "text/javascript">
      function ShowSelected()
      {
        var combo = document.getElementById("list");
        var selected = combo.options[combo.selectedIndex].text;
        console.log(selected);
      }
    

    </script>
    
    <article class="main">
      <div class ="Selectores">
        <form action = "/Seleccion" method="POST">
          <div class="custom-select" style="width:200px;">
            <div class = "select">
              <select id="list" type="submit" name="Seleccion1">
                <option value="0">Desayuno</option>
                <option value="1">Alumerzo</option>
                <option value="2">Cena</option>
              </select>
            </div>
            
          </div>
          <div class="custom-selectt" style="width:200px;">
            <div class = "select">
              <select id="list2" name = "Seleccion2">
                <option value="0">Bebida</option>
                <option value="1">Postre</option>
                <option value="2">PlatoPrincipal</option>
              </select>
            </div>
            
          </div>
          <input class="btn-filtrar" type="submit" value=Filtrar>
        </form>
      </div>
      
      
      
      <div class="TablaCompra">
        <table class ="TablaCompra">
          <thead>
            <tr>
            <th>Id</th>
            <th>Alimento</th>
            <th>Precio</th>
            </tr>
          </thead>
          <tbody>
            <% all.forEach((transfer)=> { %>
              <tr>
                <td><%= transfer.id %></td>
                <td><%= transfer.Nombre %></td>
                <td><%= transfer.Precio %></td>
                
              </tr>
            <% }) %>
          </tbody>
        </table>
         
      </div>
      <div class="CompraInfo">
        <form action="/Compra" method="POST">
      
          <input type="text" name="ID" placeholder="Identificador" required>
    
          <input type="text" name="Cantidad" placeholder="Cantidad" required>
    
          <input type="submit"  value="Añadir al carrito">
    
          </form>
      </div>
      
        
        
      </article>
        
       
  </body>
</html>